
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap');



#root{
  font-family: 'Cormorant Garamond';
  background-image: url(./assets/just-waves.webp);
  min-height: 100vh;
  height: 100%;
}



#posts-index img {
  width: 300px;
}

#posts-index{
  max-height: 150px;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}